# IDEs
.idea/
.vscode/
# Hugo
/resources/
public/
jsconfig.json
node_modules/

# Local Netlify folder
.netlify

# Astro
astro-site/node_modules/
astro-site/dist/
astro-site/.astro/

# Wrangler
.wrangler/
.dev.vars
