---
interface Props {
  title: string;
  description: string;
  tags: string[];
  url?: string;
}

const { title, description, tags, url } = Astro.props;
---
<div class="project-card">
  <div class="project-image"></div>
  <div class="project-content">
    <h3 class="project-title">{url ? <a href={url} target="_blank" rel="noopener noreferrer">{title}</a> : title}</h3>
    <p class="project-description">{description}</p>
    <div class="project-tech">
      {tags.map((tag) => (
        <span class="tech-tag">{tag}</span>
      ))}
    </div>
  </div>
</div>
